.container {
  width: 672px;
  margin: 50px auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 40px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  padding: 8px;
}

.leaderboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
  height: 48px;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 20px;
  box-sizing: border-box;
}

.leaderboard th {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 133%;
  color: #999;
}


.position {
  width: 100px;
}

.user {
  width: 160px;
}

.time {
  width: 80px;
}

.tbody {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tablle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
  height: 48px;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 20px;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 133%;
  color: #000;
}